.Footer
  background-color: $color--dark-grey
  box-shadow: 0 10rem 0 10rem $color--dark-grey, 0 0 1rem 0 $color--shadow
  // Otherwise, box-shadow for Safari overscroll is not rendered
  force-3d-acceleration()
  a
    color: inherit

.Footer-Contents
  height: 3.5rem
  display: flex
  justify-content: space-between
  align-items: center
