.ProcessSection
  .Media
    padding: 0
    margin-bottom: 5rem
  .Media-Title
    font-size: 250%
    @media $media.min-sm
      font-size: 300%
  @media $media.min-lg
    .Media
      margin-bottom: 10rem
    .Media-Image
      border-radius: 100%
    p
      max-width: 30em
