html
  animation-duration: 2.5s
  animation-delay: $reveal-animation-delay
  animation-fill-mode: forwards
  animation-name: reveal
  opacity: 0
  height: 100%
  overflow-x: hidden

html, body
  margin: 0
  padding: 0
  width: 100%

body
  min-height: 100%
  font-family: 'Libre Franklin', 'Verdana', sans-serif

nav a
  text-decoration: none

.js-focus-visible *:focus:not(.focus-visible)
  outline: none
