.Container
  @extend ._c-container
  margin-left: auto
  margin-right: auto

.Container
.ContainerFluid
  padding-left: .75rem
  padding-right: .75rem
  @media $media.min-sm
    padding-left: 1rem
    padding-right: 1rem
  @media $media.min-md
    padding-left: 1.25rem
    padding-right: 1.25rem
  @media $media.min-lg
    padding-left: 1.5rem
    padding-right: 1.5rem
